receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

exporters:
  file:
    path: /output/traces.log

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [file]